<html>
<head>
  <title>Bars and stuff</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/jquery-2.1.3.min.js"></script>
  <script src="/sockets.js"></script>
  <script type="text/javascript">
  </script>
</head>

<body>
  <h1>Interactive Bars!</h1>
  <p><span id="userCount">0</span> users playing</p>

  <div id="server" style="width: 80%; margin: auto; border: 1px solid black">
  </div>

  <div id="resources" style="width: 80%; margin: auto; border:1px solid black; margin-top: 10px; display: none;">
  </div>

  <div id="msgs"></div>

  <script type="text/javascript">
    window.onload = function(){
      window.ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);

      window.ws.onopen    = function()  { console.log('websocket opened'); };
      window.ws.onclose   = function()  { console.log('websocket closed'); }
      window.ws.onmessage = function(m) { showMsg(m.data); };

      setupCamp();
      reconnectActions();
    }
  </script>
</body>
</html>
