<html>
<head>
  <title>Bars and stuff</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" href="/sockets.css">
  <script src="/jquery-2.1.3.min.js"></script>
  <script src="/sockets.js"></script>
  <script type="text/javascript">
  </script>
</head>

<body style="height: 100%; width:100%;">
  <h1 style="width: 100%; text-align: center;">Interactive Bars!</h1>

  <div class="container">

    <div class="col-sm-8">
      <div id="server" style="margin: 10px; border: 1px solid black">
        <div class="input-group">
          <input id="stealAmount" type="text" class="form-control" placeholder="Amount to steal"/>
        </div>
      </div>
  
      <div id="resources" style="margin: 10px; border:1px solid black; display: none;"></div>

      <p style="margin: 10px">
        <span id="userCount">0</span> users playing
        <button id="reconnectButton" type="button" class="btn btn-primary" style="display:none">Reconnect</button>
      </p>
    </div>

    <div class="col-sm-4">
      <div id="tabs">
        <a id="messages" href="#">Chat</a>
        <a id="leaders" href="#">Leaderboard</a>
        <a id="shop" href="#">Shop</a>
      </div>
      <div id="msgs" style="margin: 10px; border: 1px solid black;"></div>
      <div id="leadersDiv" style="margin: 10px; border: 1px solid black; display: none;"></div>
      <div id="store" style="margin: 10px; border: 1px solid black; display: none;"></div>

      <div class="col-xs-12">
        <div class="input-group">
          <input id="chatInput" type="text" class="form-control" placeholder="Enter Name" />
          <span class="input-group-btn">
            <button id="chatSend" class="btn btn-default" type="button">Send</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>

  <script type="text/javascript">
    window.onload = function(){
      connectSocket();

      setupCamp();
      reconnectActions();


      $('#nameBox').focus(function() {
        if ($('#nameBox').val() == "Enter name") {
          $('#nameBox').val("");
        }
      });
      $('#nameBox').blur(function() {
        if ($('#nameBox').val() == "") {
          $('#nameBox').val("Enter name");
        }
      });
      $('#messageBox').focus(function() {
        if ($('#messageBox').val() == "Enter chat message") {
          $('#messageBox').val("");
        }
      });
      $('#messageBox').blur(function() {
        if ($('#messageBox').val() == "") {
          $('#messageBox').val("Enter chat message");
        }
      });
      $('#stealAmount').blur(function() {
        steal = $('#stealAmount').val();
        if (parseInt(steal) > 0) {
          $('#stealAmount').val(parseInt(steal));
        } else {
          $('#stealAmount').val("");
        }
      });

      $('#messages').click(function() {
        $('#leadersDiv').hide();
        $('#store').hide();
        $('#msgs').show();
      });
      $('#leaders').click(function() {
        $('#msgs').hide();
        $('#store').hide();
        $('#leadersDiv').show();
      });
      $('#shop').click(function() {
        $('#leadersDiv').hide();
        $('#msgs').hide();
        $('#store').show();
      });

      $('#chatSend').click(function() {
        name = $('#chatInput').val().substring(0, 12);
        if (name == "") {return false;}
        game.name = name;
        window.ws.send(JSON.stringify({
          "action":  "chat",
          "name":    name,
          "message": ""
        }));
        $('#chatInput').val("");
        $('#chatInput').attr("placeholder", "Enter Chat Message");

        $('#chatSend').unbind();
        $('#chatSend').click(function() {
          message = $('#chatInput').val();
          if (message == "") {return false;}
          window.ws.send(JSON.stringify({
            "action":  "chat",
            "name":    game.name,
            "message": message
          }));
          $('#chatInput').val("");

          return false;
        }); 

        return false;
      });

      $('#reconnectButton').click(function() {
        connectSocket();
      });
    }
  </script>
</body>
</html>
